body{
    padding:0;
    margin:0;
}


#logo{
    width: 200px;
    height: 200px;
    margin-top: -50px;
}

#sezione-iniziale{
    background-color: aquamarine;
    height: 100px;
    background: url("./images/pattern.png");
    background-position: center; 
    background-size:contain; 
    background-color:lightskyblue;
}

#titolo{
    font-size: 30px;
    margin-top: 10px;
}

#autore{
    width: 230px;
    margin-top:-15px;
    font-size: 20px;
    color: gray;

}

span{
    color: lightskyblue;
}