body{
    padding:0;
    margin:0;
}


#logo{
    width: 200px;
    height: 200px;
    margin-top: -50px;
}

#sezione-iniziale{
    background-color: aquamarine;
    height: 100px;
    background: url("./images/pattern.png");
    background-position: center; 
    background-size:contain; 
    background-color:lightskyblue;
}

#title{
    font-size: 30px;
    margin-top: 10px;
}

#author{
    width: 230px;
    margin-top:-15px;
    font-size: 20px;
    color: gray;

}

span{
    color: lightskyblue;
}

.picture-description{
    width: 450px;
    margin-top: 0px;
    font-size: 15px;
}

.paragraph{
    font-weight: bold;
    font-size: 20px;
}

.span-paragraph{
    background-color: yellow;
    color:black;
}
