body{
    padding:0;
    margin:0;
}

.container{
    margin-left: 100px;
    margin-right: 100px;
}

#logo{
    width: 200px;
    height: 200px;
    margin-top: -50px;
}

#sezione-iniziale{
    background-color: aquamarine;
    height: 100px;
    background: url("./images/pattern.png");
    background-position: center; 
    background-size:contain; 
    background-color:lightskyblue;
}

#title{
    font-size: 30px;
    margin-top: 10px;
}

#author{
    width: 230px;
    margin-top:-15px;
    font-size: 20px;
    color: gray;

}

span{
    color: lightskyblue;
}

.picture-description{
    width: 450px;
    margin-top: 0px;
    font-size: 15px;
}

.paragraph{
    font-weight: bold;
    font-size: 20px;
}

.span-paragraph{
    background-color: yellow;
    color:black;
}

table {
  border-collapse: collapse;
}

th{
background-color:rgb(39, 192, 243);
padding-left: 20px;
padding-right:20px;
color:white;


}

td{
padding-left: 20px;
padding-right:20px;
padding-top: 10px;
padding-bottom: 10px;

}

tr.color{
    background-color:lightblue;
}



#end-page{
color:gray;
font-weight: bold;
font-size: 20px;
}



.end-p1{
    color:white;
    font-weight: bold;
    font-size: 20px; 
    position: absolute; 
    margin-top: -200px;
    margin-left: 30px;
}

.end-p2{
    color:white;
    font-weight: bold;
    font-size: 20px; 
    position: absolute; 
    margin-top: -200px;
    margin-left: 30px;
}